.sticky {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

h1{
    font-size: 5rem;
    background-color: rgb(68, 173, 89);
    color: aliceblue;

}
ul li{
    list-style-type: none;
}
a{text-decoration: none;}
.img-modal{
    height: 20vw;
    width: auto;
}
.btn-style{
    background-color: rgb(207, 209, 209);
    width: 100%;
    
}
.btn-borrar{
    background-color: rgb(207, 209, 209);
    width: 50%;
    
}
.btn-borrar:hover{
    background-color: rgb(248, 100, 100);
    width: 50%;
    
}
.btn-style:hover{
    background-color:  rgb(68, 173, 89);
    width: 100%;
    color: aliceblue;
}
.boton-color{
    background-color: rgb(68, 173, 89);
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
}

.boton-color:hover{
    transform: scale(1.1);
    background-color: rgb(68, 173, 89);
    color: aliceblue;

}
.img-fav{
    height: 9vw;
}
/* Media queries para dispositivos pequeños (como teléfonos) */
@media (max-width: 576px) {

}

/* Media queries para dispositivos medianos (como tabletas) */
@media (min-width: 577px) and (max-width: 992px) {
    
}


/* Media queries para dispositivos grandes (como computadoras) */
@media (min-width: 993px) {

  
}